<div class="question">
  <p><%= question.statement %></p>
</div>

<% if question.image %>
  <div>
    <%= link_to "#image-modal",  "data-toggle" => "modal" do %>
      <%= image_tag question.image.url, class: "img" %>
    <% end %>
  </div>

  <%= content_tag :div, id: "image-modal",
    class: "modal hide modal-grids-14 modal-fill-height" do %>
    <div class="modal-header">
      <%= content_tag :h3, "Imagem", class: "modal-title" %>
    </div>
    <%= content_tag :div,
      image_tag(image_path(question.image.url)),
      class: "modal-body" %>
    <div class="modal-footer">
      <button class="button-default" data-dismiss="modal">Voltar</button>
    </div>
  <% end %>
<% end %>

<% if review %>
  <div class="justification">
    <span class="call">Justificativa:</span>
    <p><%= question.explanation || "Não há" %></p>
  </div>
  <div class="alternatives review">
    <ol>
      <% question.alternatives.each_with_index do |alternative, index| %>
        <%= render 'alternatives/answered', :index => index, :alternative => alternative, :choosed => choice.alternative %>
      <% end %>
    </ol>
  </div>
<% else %>
  <div class="alternatives">
    <ol>
      <% question.alternatives.each_with_index do |alternative, index| %>
        <%= render 'alternatives/item', :f => f, :index => index, :alternative => alternative %>
      <% end %>
    </ol>
  </div>
<% end %>
